<!DOCTYPE html>
<html>
  <head>
    <title>Traverser</title>
    <script src="app/libs/jquery.js"></script>
    <script src="app/libs/angular.js"></script>
    <script src="app/app.js"></script>
    <script src="app/ProcessService.js"></script>
    <script src="app/DbService.js"></script>
  </head>
  <body ng-app="app">
    <div id="con" ng-controller="AppController">
      <span>{{model.doneCount+model.errorCount}} / {{model.requestedCount}}</span>
      <span style="color:red">Errors:{{model.errorCount}}</span>
      <hr>
      <h3>Successful:</h3>
      <div ng-repeat="file in model.files">
        {{file}}
      </div>
      <hr>
      <h3>Failed:</h3>
      <div ng-repeat="file in model.errorFiles" style="color: red">
        {{file}}
      </div>
      <hr>
    </div>
    <hr><hr>
  </body>
</html>
