h1 Stats

button(ng-click="clean()") CLEAN
hr

p Dirs: {{model.dirCount}}, Photos: {{model.photoCount}}
hr  

//- h2 Dirs
//- div(ng-repeat='dir in model.dirs') {{dir}}
//- hr

h2 Tree
tree(tree-data='model.tree')
