doctype html
html
head
    title Traverser
    | 
    <!-- libs:css -->
    <!-- endinject -->
    <!-- styles:css -->
    <!-- endinject -->
    <!-- libs:js -->
    <!-- endinject -->
    <script src="js/app.js"></script>
    <!-- scripts:js -->
    <!-- endinject -->

  body(ng-app='app', ng-controller='AppController')
    .ui.inverted.fixed.main.menu
      a.item(href='#home') HOME
      a.item(href='#scan') SCAN
      a.item(href='#stats') STATS

    .content(ng-view='ng-view')
      hr