doctype html
html
head
    title Traverser
    <!-- libs:js -->
    <!-- endinject -->
    <script src="/app/js/app.js"></script>
    <!-- scripts:js -->
    <!-- endinject -->

    link(rel='stylesheet', href='libs/angular-ui-tree.min.css') 

  body(ng-app='app', ng-controller='AppController')
    header
      nav
        ul
          li
            a(href='#home') HOME
          li
            a(href='#scan') SCAN
          li
            a(href='#stats') STATS
      hr
    div(ng-view='ng-view')
    hr
